%h1= "Hey #{@order.customer.first_name}, #{@order.restaurant.name} has confirmed your order."

%p= "#{@order.restaurant.name} estimates your order will be ready by (time goes here). We will notify you when your order is ready for pickup."